body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* home page*/
#work li{
    padding-right: 30px;
    background-color: lightgreen;
    
}
#future
{
    display: none;
}

#past{
    display: none;
}

#pastButton {
    padding: 20px;
    border: 1px solid #a7a4a4;
    background-color: #e2e2e2;
    margin-right: 10%;
}
#futureButton {
    padding: 20px;
    border: 1px solid #a7a4a4;
    background-color: #e2e2e2;
    margin-left: 10%;

}
#currentButton {
    padding: 20px;
    border: 1px solid #a7a4a4;
    background-color: #76b45d;

}
#workButtons{
text-align: center;
background-color: #fafafa;

}


/*home page text */
div > p {
    width: 80%;
    margin: 0 AUTO;
    line-height: 150%;
}



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
/*footer */
  
 #whatsnewHeader {
text-align: center; }


#footerMenu li {
  display: block;

}
#footerMenu {
  width: 50%;
  padding-left: 13rem;

}
#footerSiteMenu {
width: 30%;
}
#content {
  height: 100%;
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.blog-home2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.blog-home2 h1,
.blog-home2 h2,
.blog-home2 h3,
.blog-home2 h4,
.blog-home2 h5,
.blog-home2 h6 {
  color: #3e4555;
}

.blog-home2 .font-weight-medium {
  font-weight: 500;
}

.blog-home2 .bg-light {
  background-color: #f4f8fa !important;
}

.blog-home2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.blog-home2 .text-themecolor {
  color: #316ce8;
}

.blog-home2 h5 {
  line-height: 22px;
  font-size: 18px;
}

.blog-home2 a.link {
  color: #3e4555;
}

.blog-home2 a.link:hover {
  color: #316ce8;
}

.blog-home2 .on-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.blog-home2 .on-hover:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.blog-home2 .date-pos {
  right: 10px;
  top: 10px;
}

.blog-home2 .date-pos span {
  font-size: 30px;
  line-height: 30px;
}
.blog-home2 .bg-info-gradiant {
    background: #188ef4;
    background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
    background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}





body{
    baackground:#f5f5f5;
    margin-top:20px;}

.events-date {
    text-align: center;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: rgba(25, 47, 89, 0.9);
    color: #fff;
    padding: 12px 20px 8px 20px;
    text-transform: uppercase
}

.event-time li {
    display: inline-block;
    margin-right: 20px
}

.event-time li:last-child {
    margin-right: 0
}

.event-time li i {
    color: #59c17a
}

.event-block {
    box-shadow: 0px 0px 16px 0px rgba(187, 187, 187, 0.48)
}

.event-block ul li i {
    color: #59c17a
}

@media screen and (max-width: 1199px) {
    .event-date {
        padding: 10px 18px 6px 18px
    }
}

@media screen and (max-width: 575px) {
    .event-date {
        padding: 8px 15px 4px 15px
    }
    .events-date {
        padding: 10px 15px 6px 15px
    }
}

.position-relative {
    position: relative !important;
}

.margin-40px-bottom {
    margin-bottom: 40px;
}
.padding-60px-lr {
    padding-left: 60px;
    padding-right: 60px;
}

.margin-15px-bottom {
    margin-bottom: 15px;
}
.font-weight-500 {
    font-weight: 500;
}
.font-size22 {
    font-size: 22px;
}
.text-theme-color {
    color: #192f59;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.margin-10px-right {
    margin-right: 10px;
}




.form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
}








